game-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: lightskyblue;
}

.arena {
    position: relative;
    background-color: black;
    pointer-events: auto;
    overflow: hidden;

    img {
        position: absolute;
    }

    .segment {
        transform-origin: 50% 50%;
    }

    .snack {
        width: 24px;
        height: 24px;
    }

    .mazeWall {
        position: absolute;
        width: 100%;
        height: 16px;
        display: flex;
        justify-content: space-between;

        .brick {
            background-image: repeating-linear-gradient(90deg, lightskyblue 0 2px, transparent 0 8px);
        }
    }
}
